.header-container{
background-color: #ece9e9;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    .logo-box{
        img{
            @include respond(mobile) {
                width: 200px;
            }
        }
    }

}